body {
  background-color: #f3f3f3 !important;
}
.action {
  margin:2%;
}
.logo {
  width: 5.5%;
  height: 5.5%;
}
.login-header {
  height:25%;
  width:25%;
}
.loginBtn {
  width: 90% !important;
}
.profielpic {
  border-radius: 50%;
  padding-right: 35%;
  padding-left: 35%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: -20%;
  margin-right: auto !important;
  margin-left: auto !important;
}
#userData {
  margin-top: 10%;
  width: 100%;
  text-align: center;
}
