body {
  background-color: #f3f3f3 !important;
}
.action {
  margin:2%;
}
.login-header {
  height:25%;
  width:25%;
}
.btn {
  width: 90% !important;
}
.profielpic {
  border-radius: 50%;
  padding-right: 35%;
  padding-left: 35%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: -20%;
  margin-right: auto !important;
  margin-left: auto !important;
}
#userData {
  margin-top: 10%;
  width: 100%;
  text-align: center;
}
.temp {
  width: 70px !important;
  height:70px !important;
  margin: auto;
}
.tempValue {
  margin: auto;
  text-align: center !important;
}
.locations {
  color: #006699 !important;
}
#map {
  height: 70px;
  width: 100%;
 }
