<div class="row">
  <div>&nbsp;</div>
  <div class="col s6 offset-s3 m6 offset-m3">
    <div class="loginPage card">
      <div class="row card-image grey darken-5">
        <div>&nbsp;</div>
        <img class="col s6 responsive-img" src="public/assets/img/EyesInTheSkyLogo.png" class="login-header">
        <h6 class="col s6 offset-s6 card-title">Welcome Back!</h6>
      </div>
      <form name="loginForm" ng-submit="submit()">
          <div class="card-content">
            <div class="input-field">
              <input type="email" name="email" ng-model="username" ng-required="true" class="validate txt-dark-blue">
              <label for="email">
                <i class="material-icons">person</i> Email
              </label>
            </div>
            <div class="input-field">
              <input type="password" name="password" ng-required="true" ng-model="password">
              <label for="password">
                <i class="material-icons">vpn_key</i> Password
              </label>
            </div>
            <div>
             <input type="checkbox" id="remember" ng-model="remember"/>
             <label for="remember">Remember Me</label>
            </div>
            <span class="error red-text">{{ error }}</span>
          </div>

          <div class="row">
            <div class="action col s3 offset-s9">
              <input type="submit" value="Login" class="waves-effect waves-light btn loginBtn" ng-disabled="loginForm.$invalid"/>
              <a href="#/">Forget Password?</a>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
