<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <h5 class="card-title col s6">Accounts Manager</h5>
          <div class="col offset-s4">
            <button data-target="addAccount" class="btn-floating btn-large waves-effect waves-light green" ng-click="addAccount()">
              <i class="material-icons">add</i>
            </button>
          </div>
        </div>
          <br />
          <div class="nav-wrapper card">
              <div class="input-field">
                <input id="accountsSearch" type="search" required ng-model="accountsSearch">
                <label class="label-icon" for="accountsSearch"><i class="material-icons">search</i></label>
              </div>
          </div>
          <table class="striped responsive-table">
            <thead>
              <tr>
                <th></th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Email</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="gov in govs| filter:accountsSearch">
                <td>
                  <img class="responsive-img circle" ng-src="/Administration/public/assets/img/uploads/{{gov.image}}"  style="padding-top:2%; object-fit:cover; width:40px; height: 40px"/>
                </td>
                <td>{{gov.Fname}} {{gov.Lname}}</td>
                <td>{{gov.Gov_username}}</td>
                <td>{{gov.Email}}</td>
                <td>
                  <a data-target="editAccount" class="btn-floating waves-effect waves btn-flat" ng-click="editAccount(gov.Gov_id, gov.Gov_username)">
                    <i class="material-icons blue-text">mode_edit</i>
                  </a>
                </td>
                <td>
                  <a class="btn-floating waves-effect waves btn-flat" ng-click="removeAccount(gov.Gov_id)">
                    <i class="material-icons red-text">delete_forever</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
<div id="addAccount" class="modal" style="width: 55%; height:100%; ">
   <div class="modal-content">
       <form ng-submit="addGov()" name="form" role="form">
         <div class="row">
          <div class="col s10 offset-s1">
             <h6 class="grey-text text-darken-2">Add new government account:</h6>
             <hr />
           </div>
           <div class="input-field col s12 col m5 offset-m1">
             <input ng-model="form.email" id="email" type="text" ng-required="true">
             <label for="email">Email</label>
           </div>
           <div class="input-field col s12 col m5">
             <input ng-model="form.password" id="password" type="password" ng-required="true">
             <label for="password">password</label>
           </div>
           <div class="col s12 col m5 offset-m1">
            <div class="input-field">
               <input ng-model="form.username" id="username" type="text" ng-required="true">
               <label for="username">Username</label>
            </div>
            <div class="input-field">
                <input ng-model="form.fname" id="fname" type="text" ng-required="true">
                <label for="fname">First Name</label>
            </div>
            <div class="input-field">
               <input ng-model="form.lname" id="lname" type="text" ng-required="true">
               <label for="lname">Last Name</label>
            </div>
          </div>
          <div class="col s12 col m5">
             <div class="file-field input-field">
               <div class="btn grey darken-2">
                 <input ng-model="form.image" type="file" class=" col s12 form-control input-lg" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)" >
                 <span><i class="material-icons">file_upload</i> Upload Photo</span>
               </div>
             </div>
             <img class="col s12" ng-src="{{form.imagesrc}}" style="padding-top:2%; object-fit:cover;">
          </div>
        </div>
        <div>
          <span class="error red-text">{{ form.error }}</span>
          <div class="col s12 col m5 offset-m6">
            <div class="waves-effect waves-light btn">
              <span><i class="material-icons">send</i></span>
              <input type="submit" ng-disabled="form.$invalid"/>
            </div>
          </div>
        </div>
      </form>
     </div>
</div>

<div id="editAccount" class="modal" style="height:55%">
  <div class="modal-footer">
    <a href="#dashboard" class="modal-action modal-close btn-floating waves-effect waves-light btn-flat" ng-click=""><i class="material-icons black-text">close</i>
    </a>
  </div>
   <div class="modal-content">
    <form ng-submit="editGov()" name="form" role="form">
      <div class="col s10 offset-s1">
        <h6 class="blue-text text-darken-2">Update Password:</h6>
        <hr />
      </div>
      <div class="col s10 offset-s1 grey-text text-darken-2">
          <i class="material-icons">person</i> Username:
          <div class="input-field inline">
            <input disabled value="{{currentUsername}}" id="disabled" type="text">
          </div>
       </div>
       <div class="col s10 offset-s1 grey-text text-darken-2">
          <i class="material-icons">vpn_key</i> Password:
          <div class="input-field inline">
            <input id="password" type="password" ng-model="form.password" ng-required = "true">
          </div>
       </div>
      <br /><br /><br />
      <div class="col s10 offset-s1 col m4 offset-m7">
        <input class="waves-effect waves-light btn" type="submit" id="submit" value="Submit"/>
      </div>
    </form>
   </div>
</div>
