<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
          <h5 class="card-title">Admins Log</h5>
          <div class="nav-wrapper card">
              <div class="input-field">
                <input id="logSearch" type="search" required ng-model="logSearch">
                <label class="label-icon" for="logSearch"><i class="material-icons">search</i></label>
              </div>
          </div>
          <table class="striped" style="display: block; height:50em; overflow-y:auto;">
            <thead>
              <tr>
                <th>Name</th>
                <th>Action</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody style="">
              <tr ng-repeat="log in logs| filter:logSearch">
                <td>{{log.name}}</td>
                <td>{{log.Action}}</td>
                <td>{{log.Action_time}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
