<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
          <h5 class="card-title">Tasks State and Results</h5>
          <div class="nav-wrapper card">
              <div class="input-field">
                <input id="search" type="search" required ng-model="search">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              </div>
          </div>
          <table class="striped responsive-table scroll">
            <thead>
              <tr>
                <th>Process Name</th>
                <th>Start Time</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="log in logs | filter:search">
                <td>{{log.Process_name}}</td>
                <td>{{log.Time | date}}</td>
                <td>
                  <div ng-switch="{{log.Action}}">
                    <div ng-switch-when="32141">
                      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="In Progress">
                        <div class="preloader-wrapper small active">
                          <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                              <div class="circle"></div>
                            </div><div class="gap-patch">
                              <div class="circle"></div>
                            </div><div class="circle-clipper right">
                              <div class="circle"></div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div ng-switch-when="22894">
                      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Running">
                        <div class="preloader-wrapper small active">
                          <div class="spinner-layer spinner-yellow-only">
                            <div class="circle-clipper left">
                              <div class="circle"></div>
                            </div><div class="gap-patch">
                              <div class="circle"></div>
                            </div><div class="circle-clipper right">
                              <div class="circle"></div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div ng-switch-when="19195">
                      <a data-target="showDetails" class="btn-large btn-floating processBtn waves-effect waves-light btn-flat" ng-click="showDetails(log.Process_name)">
                        <i class="large material-icons green-text">done_all</i>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
<div id="showDetails" class="modal">
  <div class="modal-footer">
    <a href="#home" class="modal-action modal-close btn-floating waves-effect waves-light btn-flat" ng-click=""><i class="material-icons black-text">close</i>
    </a>
  </div>
   <div class="modal-content">
    <h6>Process: {{data.Process_name}}</h6> <hr />
    <div class ="row">
      <div class="col s5">
       <span style="text-align:left">
         Started Time: {{data.Start_time}} <br />
         Image ID: {{data.Img_id}} <br />
         Container ID: {{data.Cont_id}} <br />
         Container IP: {{data.Cont_IP}} <br />
         Port: {{data.port}} <br />
       </span>
      </div>
      <div class="col s7">
        Result: <br /> {{data.result}}
      </div>
   </div>
  </div>
</div>
