<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
          <h5 class="card-title">Raspberry pies Details</h5>
          <div class="nav-wrapper card">
              <div class="input-field">
                <input id="search" type="search" ng-model="search">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              </div>
          </div>
          <table class="striped">
            <thead>
              <tr>
                <th></th>
                <th>Mac</th>
                <th>Processes</th>
                <th>CPU Usage</th>
                <th>Disk Usage</th>
                <th>RAM Usage</th>
                <th>Temperature</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="spec in specs | filter:search">
                    <td>
                      <button data-target="showDetails" class="btn-large processBtn waves-effect waves-light btn-flat" ng-click="showDetails(spec.Mac, spec.LocationLat, spec.LocationLng, spec.LocationName, spec.PublicIP, spec.Username, spec.Password, spec.HasCamera, spec.Generation, spec.OS, spec.Ram, spec.Storage)">
                        <!-- <i class="material-icons large">list</i> -->
                        <i class="material-icons">more_vert</i>
                      </button>
                    </td>
                    <td>{{spec.Mac}}</td>
                    <td>
                      <button  data-target="RunningProcesses" class="btn processBtn waves-effect waves-light btn-flat" ng-click ="getProcesses(spec.Mac)">
                        <i class="material-icons large dark-blue">assignment_turned_in</i>
                        <span>{{spec.Jobs_Num}}</span>
                      </button>
                    </td>
                    <td>
                      <div id="circle" class="c100 p{{spec.CpuUsage | number:0}} small">
                        <span id="value">{{spec.CpuUsage}}%</span>
                        <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div id="circle" class="c100 p{{spec.FreeStorage | number:0}} small">
                        <span id="value">{{spec.FreeStorage}}%</span>
                        <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div id="circle" class="c100 p{{spec.FreeStorage | number:0}} small">
                        <span id="value">{{spec.RamUsage}}%</span>
                        <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <img class="temp" src="public/assets/img/temperature.png"/>
                      </div>
                      <div class="row">
                        <span class="tempValue">{{spec.Temperature}}&deg;C</span>
                      </div>
                    </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<div id="RunningProcesses" class="modal">
  <div class="modal-footer">
    <a href="#dashboard" class="modal-action modal-close btn-floating waves-effect waves-light btn-flat" ng-click="KillProcess(process.Process_name)"><i class="material-icons black-text">close</i>
    </a>
  </div>
   <div class="modal-content">
     <h6>MAC Address: {{currentMac}}</h6><hr />
     <table class="striped">
       <thead>
         <tr>
           <th>Process Name</th>
           <th>Container ID</th>
           <th>Start Time</th>
           <th>User Username</th>
           <th></th>
         </tr>
       </thead>
       <tbody>
         <tr ng-repeat="process in processes">
           <td>{{process.Process_name}}</td>
           <td>{{process.Cont_id}}</td>
           <td>{{process.Start_time}}</td>
           <td>{{process.User_username}}</td>
           <td>
               <a class="btn-floating waves-effect waves-light btn-flat" ng-click="KillProcess(process.Process_name)">
                 <i class="material-icons red-text">close</i>
               </a>
           </td>
         </tr>
       </tbody>
     </table>
   </div>
</div>

<div id="showDetails" class="modal">
  <div class="modal-footer">
    <a href="#dashboard" class="modal-action modal-close btn-floating waves-effect waves-light btn-flat" ng-click="KillProcess(process.Process_name)"><i class="material-icons black-text">close</i>
    </a>
  </div>
   <div class="modal-content">
     <h6>MAC Address: {{currentMac}}</h6><hr />
     <div class ="row">
       <div class="col s5">
         <h6><i class="material-icons">settings</i> Specifications:</h6> <hr />
         <span style="text-align:left">
           PublicIP: {{PublicIP}} <br />
           Username: {{Username}} <br />
           Password: {{Password}} <br />
           HasCamera: {{HasCamera}} <br />
           Generation: {{Generation}} <br />
           os: {{os}} <br />
           Ram: {{Ram}} <br />
           Storage: {{storage}}
         </span>
       </div>
       <div class="col s7">
         <h6> <i class="material-icons">room</i> Location: {{LocationName}}</h6><hr />
         <span>
           Show Location at:<br />
           LocationLat: {{LocationLat}} , LocationLng: {{LocationLng}}
         </span>
         <div id="map"></div>
       </div>
     </div>
   </div>
</div>
<script>
  $(document).ready(function(){
    $('.collapsible').collapsible({horizontal: true});
    $('.modal').modal();
    $('.carousel.carousel-slider').carousel({fullWidth: true});
  });

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 20
    });
    var infoWindow = new google.maps.InfoWindow({map: map});
    var pos = { lat:31.209872299999994, lng: 29.9521207 };
    var marker = new google.maps.Marker({
       position: pos,
       map: map
     });
    map.setCenter(pos);
    }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3Y0-Eg1rT2vbWoIckip2MwxHb7EV6btI&callback=initMap">
</script>
