<div class="row">
          <div class="nav-wrapper card">
              <div class="input-field">
                <input id="search" type="search" required ng-model="searchForCriminal">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              </div>
          </div>
          <ul class="collection">
             <li class="collection-item avatar" ng-repeat="criminal in search | filter:searchForCriminal">
               <img class="circle" ng-src="public/assets/img/uploads/{{criminal.image}}">
               <span class="title">{{criminal.Fname}} {{criminal.Mname}} {{criminal.Lname}}</span>
               <p> {{criminal.priority}} <br> {{criminal.expiry_date | date}} </p>
               <div class="secondary-content" ng-switch="{{criminal.State}}">
                 <div ng-switch-when="32141" >
                    <i class="small material-icons yellow-text">autorenew</i>
                 </div>
                 <div ng-switch-when="76767">
                   <i class="small material-icons green-text">done_all</i>
                 </div>
                 <div ng-switch-when="20202">
                   <i class="small material-icons red-text">remove_circle</i>
                 </div>
               </div>
             </li>
           </ul>
          <!-- <table class="striped" style="list-style: none">  -->
            <!--ng-show="searchForCriminal"> -->
            <!-- <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Path</th>
                <th>Priority</th>
                <th>Expiry Date</th>
                <th>State</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="criminal in search | filter:searchForCriminal">
                <td>
                  <img class="responsive-img circle" ng-src="public/assets/img/uploads/{{criminal.image}}" style="width:50px;height:50px;"/>
                </td>
                <td>{{criminal.Fname}} {{criminal.Mname}} {{criminal.Lname}}</td>
                <td>{{criminal.Dir_path}}</td>
                <td>{{criminal.priority}}</td>
                <td>{{criminal.expiry_date | date}}</td>
                <th>
                <div ng-switch="{{criminal.State}}">
                <div ng-switch-when="20202" >
                   <div class="preloader-wrapper small active">
                     <div class="spinner-layer spinner-red-only">
                       <div class="circle-clipper left">
                         <div class="circle"></div>
                       </div><div class="gap-patch">
                         <div class="circle"></div>
                       </div><div class="circle-clipper right">
                         <div class="circle"></div>
                       </div>
                     </div>
                   </div>
                </div>
                <div ng-switch-when="76767">
                  <i class="small material-icons green-text">done_all</i>
                </div>
                </th>
              </tr>
            </tbody>
          </table> -->
      </div>
    </div>
  </div>
</div>

<!--   -->
